<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  class="sidenav"
                fixedInViewport
                mode="side"
                opened
                [style.width]="isExpanded ? '200px' : '64px'"
                style="transition: width 0.3s ease">
    <mat-nav-list>
      <button
        type="button"
        mat-icon-button
        (click)="toggleSidenav()"
        >
        <mat-icon>chevron_right</mat-icon>
      </button>
      <a mat-list-item>
        <mat-icon> contacts</mat-icon>
        <span class="mat-list-item-text">Contacts</span>
      </a>
      <a mat-list-item>
        <mat-icon>folder_open</mat-icon>
        <span class="mat-list-item-text">Files</span>
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon>
        <span class="mat-list-item-text">Profile</span>
      </a>
      <a mat-list-item>
        <mat-icon>settings</mat-icon>
        <span class="mat-list-item-text">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span >
        <a class="main-link">ApricotSpace</a>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button class="toolbar-item">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <div class="rounded-icon">
        <img src="./assets/images/img_1.png" alt="Round Photo Icon" width="100%" height="100%">
      </div>
      <div class="toolbar-item">
        <p>Pixsellz</p>
      </div>
      <button mat-icon-button class="toolbar-item">
        <mat-icon>more_vert</mat-icon>
      </button>

      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

