
.card-container {
  display: flex;
  justify-content: space-between;

}

mat-card {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 20px;
  min-height: 70px;
  width: 50%;
}
mat-form-field{
  margin: 7px;
  width: 45%;
}

.mat-card-class{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap
}
